<h1 align="center">Lista de todos los articulos</h1>

<% @articulos.each do |articulo| %>
 <div class="row">
   <div class="col-xs-8 col-xs-offset-2">
     <div class="well well-lg">
       <div class="articulo-titulo">
         <%= link_to articulo.titulo, articulo_path(articulo) %>
       </div>
       <div class="articulo-cuerpo">
         <%= truncate(articulo.descripcion, length: 100) %>
         <div class="articulo-meta-details">
           <small>Creado por: <%= articulo.usuario.nusuario if articulo.usuario %>, 
                  Creado hace: <%= time_ago_in_words(articulo.created_at) %>,
                  Ultima actualización hace: <%= time_ago_in_words(articulo.updated_at) %></small>
         </div>
       </div>
        <div class="articulo-action">
          <%= link_to "Editar este articulo", edit_articulo_path(articulo), class:"btn btn-xs btn-primary" %>
          <%= link_to "Eliminar este articulo", articulo_path(articulo), 
              method: :delete, 
                data: { confirm: "¿Esta seguro que quiere eliminar este articulo?"}, 
                class: "btn btn-xs btn-danger" %> 
        </div>
      </div>
    </div>
  </div>  
<% end %>