<h1>Crear un articulo</h1>

<% if @articulo.errors.any? %>
  <h2>Los siguientes errores previnieron que el articulo fuera creado</h2>
  <ul>
  <% @articulo.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @articulo do |f| %>
  <p>
    <%= f.label :titulo %><br/>
    <%= f.text_field :titulo %>
  </p> 
  <p>
    <%= f.label :descripcion %> <br/>
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.submit %>
    
  </p>
  
<% end %>